<h2 id="Stats">Stats</h2>

<table class="table table-hover table-condensed table-stats">
    <col width="80%" />
    <tr><td>Rocks exploded</td><td>{{ save.stats["rocks"] }}</td></tr>
    <tr><td>Marked rocks exploded</td><td>{{ save.stats["marked_rocks"] }}</td></tr>
    <tr><td>Poops destroyed</td><td>{{ save.stats["poops"] }}</td></tr>
    <tr><td>Pills eaten</td><td>{{ save.stats["pills"] }}</td></tr>
    <tr><td>Death card used</td><td>{{ save.stats["death_card_uses"] }}</td></tr>
    <tr><td>Arcades entered</td><td>{{ save.stats["arcades_entered"] }}</td></tr>
    <tr><td>Shopkeepers exploded</td><td>{{ save.stats["shopkeepers_exploded"] }}</td></tr>
    <tr><td>Shell games played</td><td>{{ save.stats["shell_game_played"] }}</td></tr>
    <tr><td>Angel deals taken</td><td>{{ save.stats["angel_deals"] }}</td></tr>
    <tr><td>Devil deals taken</td><td>{{ save.stats["devil_deals"] }}</td></tr>
    <tr><td>Blood donated</td><td>{{ save.stats["blood_donated"] }}</td></tr>
    <tr><td>Arcades exploded</td><td>{{ save.stats["arcades_exploded"] }}</td></tr>
    <tr><td>Coins donated</td><td>{{ save.stats["coins_donated"] }}</td></tr>
</table >

<h3>Wins &amp; losses</h3>

<table class="table table-hover table-condensed table-stats">
    <col width="80%" />
    <tr><td>Current win streak</td><td>{{ save.stats["win_streak"] }}</td></tr>
    <tr><td>Current loss streak</td><td>{{ save.stats["loss_streak"] }}</td></tr>
    <tr><td>Best win streak</td><td>{{ save.stats["best_streak"] }}</td></tr>
    <tr><td>Win count</td><td>{{ save.stats["win_count"] }}</td></tr>
    <tr><td>Deaths</td><td>{{ save.stats["deaths"] }}</td></tr>
    <tr><td>Mom kills</td><td>{{ save.stats["mom_kills"] }}</td></tr>
    <tr><td>Eden tokens</td><td>{{ save.stats["eden_tokens"] }}</td></tr>
</table >

<h3>Boss kills</h3>

<table class="table table-hover table-condensed table-stats">
    <col width="80%" />
    <tr><td>Basement 1</td><td>{{ save.stats["boss_kills_1"] }}</td></tr>
    <tr><td>Basement 2</td><td>{{ save.stats["boss_kills_2"] }}</td></tr>
    <tr><td>Caves 1</td><td>{{ save.stats["boss_kills_3"] }}</td></tr>
    <tr><td>Caves 2</td><td>{{ save.stats["boss_kills_4"] }}</td></tr>
    <tr><td>Depths 1</td><td>{{ save.stats["boss_kills_5"] }}</td></tr>
    <tr><td>Depths 2</td><td>{{ save.stats["boss_kills_6"] }}</td></tr>
    <tr><td>Womb 1</td><td>{{ save.stats["boss_kills_7"] }}</td></tr>
    <tr><td>Womb 2</td><td>{{ save.stats["boss_kills_8"] }}</td></tr>
    <tr><td>Sheol</td><td>{{ save.stats["boss_kills_9"] }}</td></tr>
</table>
